* {
    margin: 0;
    padding: 0
}
body
{
    height:100%;
}
em,i {
    font-style: normal
}
li {
    list-style: none
}
img {
    border: 0;
    vertical-align: middle
}
button {
    cursor: pointer
}
a {
    color: #666;
    text-decoration: none;
    height:55px;
    line-height:70px;
}
a:hover {
    color: #EEE;
}
.wrap{
    background:url(../image/banner.jpg) #eee;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family:Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,sans-self;
    overflow: hidden;
}
.header{
   
    line-height:50px;
}
 .header nav{
    height:55px;
    background-color:rgb(150,187,196);
}   
nav ul li{
    float:right;
    margin-right:30px;
}  
 .logo{
    float:left;
    margin-left:40px;
} 
.logo a span{
    font-size:40px;
   /*font-weight:700;*/
    color:rgb(59,69,71);
    letter-spacing:2px;
    font-family:AR BONNIE;
    height:55px;
    line-height:87px;
    float:left;
}  
.logo a img
{
    height:55px; 
    float:left;
}
 .banner{
    height:615px;
    color:#EEE;
}
 .inner{
    margin:0 auto;
    max-width:300px;
    position:relative;
    top:160px;
    text-align:center;
    color:#fff;
}    
.inner h1{
    margin-bottom:10px;
    font-family:AR BONNIE;
}
.inner .more
{
    color:rgb(150,187,196);
}
.banner  .innner  p{
    line-height:30px;
    font-size:18px;
    letter-spacing:1px;
}     
.banner  .inner  #Button1   
{
    width:30px;
    height:30px;
    margin-top:20px;
    padding:5 10px;
    border-radius:50px;
    border:2px dashed rgb(150,187,196); 
    background:rgb(59,69,71);
    color:#fff;
    outline:none;
    cursor:pointer;
} 
.banner  .inner  #Button1:hover{
    transform:rotate(1080deg);
    transition:2s;
}   
 .banner  .inner  .more{
    margin-top:110px;  
}
.part-one{
    text-align: center;
    color: #fff;
    background:rgb(150,187,196);
    padding-top: 65px;
    opacity: 0.95;
}
.wraper{
    max-width: 1080px;
    margin: 0 auto;
}
.wraper h2{
    padding: 15px 0;
}
.wraper p{
    padding: 15px 0;
}
.part-one .line{
    background: darkgrey;
    margin: 20px auto ;
    width: 40%;
}
.line{
    height: 2px;
    width: 100%;
    margin: 0 auto ;
}
.icon{
    margin-top: 20px;
    padding-bottom: 20px;
}
.part-two{
    background:darkgray;
    color: #fff;
    opacity: 0.95;
}
.icon>.item {
   width: 200px;
   height: 200px;
   display: inline-block;
   margin:20px 30px ;
   border: solid 2px wheat;
}
.icon .item img{
    width:160px;
    height:160px;
    margin-top:20px; 
}
.first:nth-child(odd){
    background:rgba(255,255,255,.1);
}   
 .first>div{
    float: left;
    font-size: 0;
}  
.first:after{
    content: '';
    display: block;
    clear: both;
} 
.first_left{
    width: 45%;
}
.first_left img{
    width: 100%;
}   
.first_text {
    width: 55%;
    position:relative ;
    top: 68px;
    left: 50px;
}
.first_text h2{
    margin-bottom: 10px;
    font-size: 24px;
}
.first_text p{
    font-size: 18px;
    letter-spacing: 2px ;
}
 .first .first_title{
    margin-top:0;
    margin-bottom: 22px;
    font-size: 20px;
 }
 .clear_fix:after{
    content: '';
    display: block;
    clear: both;
}
 .part-three{
    background: rgb(59,69,71);
    opacity: 0.9;
    color: #fff;
 }  
 .part-three .part-three_wrap{
    margin: 0 auto;
    max-width: 60%;
    padding-top:65px;
 }
 .three_wrap{
    margin-bottom: 35px;
}
.three_wrap h2{
    text-align: center;
    margin-bottom: 25px;
}
.three_wrap .line{
    background: wheat;
    width: 55%;
    margin-bottom: 20px;
}
.card{
    min-height: 200px;
    float: left;
    width: 50%;
    padding: 50px;
    max-width:272px;
    -webkit-box-sizing: bord    er-box;
    -moz-box-sizing: border-box;
}    
.card h3{
    text-align: center;
}
.card p {
    margin-top:20px;
    width:200px;
    font-size: 18px;
    margin:20px auto;
}
.card:nth-child(1){
    background: rgba(0,0,0,0.05);
}
.card:nth-child(2){
    background: rgba(0,0,0,0.1);
}
.card:nth-child(3){
    background: rgba(0,0,0,0.15);
}
.card:nth-child(4){
    background: rgba(0,0,0,0.2);
}
.card:nth-child(5){
    background: rgba(0,0,0,0.25);
}
.card:nth-child(6){
    background: rgba(0,0,0,0.3);
}
.footer{
    background:#333;
    color: #fff;
    min-height: 200px;
    text-align: center;
    /*opacity: 0.95;*/
}
ul.share_group{
    display: block;
    margin: 0 auto;
    width: 1080px;
    padding: 45px;
}
.share_group li{
    display: inline-block;
    padding: 10px;
}
.mask{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
}